@font-face {
  font-family: iransansx;
  src: url('/fonts/staticfonts/iransansx-regular.woff') format('woff');
}
@font-face {
  font-family: iransansx;
  src: url('/fonts/staticfonts/iransansx-bold.woff') format('woff');
  font-weight: 700;
}
